.body {
  background-color: #1C1C1C;
  overflow: hidden;
}
.button {
  background-color: #1C1C1C;
  border: none;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 150%;
  font-family: helvetica;
  height: 90%;
  margin-left: 5%;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
  width: 90%;
}

.button1:hover {
  filter: brightness(150%);
}
.button2:hover {
  filter: brightness(150%);
}
.button4:hover {
  filter: brightness(150%);
}
.button3:hover {
  filter: brightness(120%);
}
.button5:hover {
  background-color: #1C1C1C;
}


.button1 {
  background-color: #505050;
  color: white;
  font-size: 150%;
}
.button2 {
  background-color: #D4D4D2;
  color: black;}
.button3 {
  background-color: #FF9500;
  color: white;
  font-size: 220%;
  padding: 0;
}
.button4 {
  background-color: #505050;
  color: white;
  border-radius: 28% / 60%;
  padding-right: 50%;
  width: 90%;
}
.button5 {
  border-radius: 2%;
  width: 90%;
}
.img {
  border-radius: 50%;
  width: 100%;
}
.heading {
  align-content: center;
  font-size: 250%;
  font-family: helvetica;
  color: white;
  height: 20vh;
  width: 100%;
  max-width: 360px;

}
.table {
  max-width: 360px;
  max-height: 640px;
  height: 70vh;
  width: 100%;
  position:relative;
  background-color: #1C1C1C;
  border-spacing: 0;
  border: 0;
}
